/* General body styles */
body {
    font-family: 'Muli', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

/* Navbar styles */
.navbar {
    padding: 0.25rem 0.5rem; /* Reduce the padding to make the navbar shorter */
    height: 56px; /* Set a fixed height for the navbar */
}

.navbar-brand {
    display: none; /* Hide the navbar-brand completely */
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
    font-weight: bold;
    font-size: 0.9rem; /* Make the font size smaller */
}

.navbar-toggler {
    border: none;
}


/* Profile picture styling */
.img-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Section heading styles */
.resume-section h2, .resume-section h3 {
    font-size: 2rem;
    color: #495057;
}

/* Section content padding */
.resume-section-content {
    padding: 1rem 2rem; /* Adjust padding to decrease spacing */
}

/* Add margin to top of sections to prevent overlap with navbar */
.resume-section {
    margin-top: 50px; /* Reduce margin to decrease spacing */
    margin-bottom: 20px; /* Add margin-bottom to separate sections */
}

/* Tag Cloud Styles */
.tagcloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.75rem;
    width: 100%;
    margin-top: 1rem; /* Adjust margin to fine-tune positioning */
}

.tag {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: transform 0.3s, background-color 0.3s;
    margin: 5px;
}

.tag[data-weight="10"] { font-size: 2rem; }
.tag[data-weight="9"] { font-size: 1.8rem; }
.tag[data-weight="8"] { font-size: 1.6rem; }
.tag[data-weight="7"] { font-size: 1.4rem; }
.tag[data-weight="6"] { font-size: 1.2rem; }
.tag[data-weight="5"] { font-size: 1rem; }
.tag[data-weight="4"] { font-size: 0.9rem; }

.tag:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

@media (prefers-reduced-motion) {
    .tag {
        transition: none;
    }
}

/* Offset for smooth scrolling */
html, body {
    scroll-behavior: smooth;
}

/* Adjusting the spacing for the Interests section */
.resume-section-content {
    padding: 1rem; /* Reduce padding to decrease spacing */
}
